@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and Logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #5a5a5a;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 2px;
}

#menu a::before {
    content: '';
    width: 0%;
    height: 3px;
    bottom: 0;
    left:0;
    position: absolute;
    border-bottom: solid 2px #5a5a5a;
    transform-origin: 0% 100%;
    transition: 0.1s ease-in;
}

#menu a:hover::before {
    width: 100%;

}

.active {
    border-bottom: 2px solid #5a5a5a;
}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow:hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode:zoom;

}

@keyframes hero-zoom {
    from {
        transform: scale(1)

    }
    to {
        transform: scale(1.1)

    }
}

